* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 800px;
}

h1 {
  font-family: Arial, sans-serif;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.column-fourth {
  flex-basis: calc(100% /4);
}


.column-third {
  flex-basis: calc(100% / 3);
}

.column-two-thirds {
  flex-basis: calc(100% / 3 * 2 );
}

img {
  width: 100%;
}
