.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin: 1px 0;
  font-size: 1rem;
  border: 3px solid;
  border-right-color: black;
  border-bottom-color: black;
  border-left-color: gray;
  border-top-color: gray;
}

button:hover {
  background-color: #71b2d5;
  cursor: pointer;
}

button:active {
  cursor: pointer;
  border-right-color: gray;
  border-bottom-color: gray;
  border-left-color: black;
  border-top-color: black;
}

h3 {
  margin-bottom: 0.3rem;
}

.blue-bg {
  background-color: #71b2d5;;
}
